<div class="container mt-3">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <div class="row">
        <div class="col" *ngFor="let carta of cartas; let i = index">
          <div class="card-container">
            <div class="tarjeta text-center" id="tarjeta{{i+1}}">
              <div class="frente" id="frente{{i+1}}">
                <img src="../../../assets/imagenes/{{carta.urlImagen}}" alt="img-card">
                <small class="txt-valor">{{carta.valor}}</small>
              </div>
              <div class="dorso" id="frente{{i+1}}" (click)="seleccionarCarta(carta, i+1)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card card-juego">
        <div class="card-body">
          <h4>Tiempo: {{tiempoFormateado()}}</h4>
          <h5>Movimientos: {{contadorMovimientos}}</h5>
          <h5>Aciertos: {{contadorAciertos}}</h5>
        </div>
        <button (click)="reiniciar()" class="btn btn-sm btn-warning mb-3 mx-3">Reiniciar</button>
        <button routerLink="" class="btn btn-sm btn-danger mb-3 mx-3">Volver</button>
      </div>
    </div>
  </div>
</div>