<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col" *ngFor="let carta of cartas; let i = index">
          <div class="card-container">
            <div class="cardd" id="card{{i+1}}">
              <div class="front" (click)="seleccionarCarta(carta, i+1)">
                <small>{{carta.valor}}</small>
              </div>
              <div class="back" (click)="seleccionarCarta(carta, i+1)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>