<div class="container">
  <div class="card p-2" style="opacity: 0.85;">
    <ul>
      <li>
        <h4>
          Se presentan 24 cartas boca abajo con 12 objetos duplicados sobre el tablero y comienza a correr el tiempo.
        </h4>
      </li>
      <li>
        <h4>
          El juego consiste en dar vuelta un par de cartas a la vez. Si estas coinciden se se considera 1 acierto.
        </h4>
      </li>
      <li>
        <h4>
          De no coincidir, se vuelven a dar vuelta en el mismo lugar y se intenta un nuevo movimiento hasta acertar los 12 objetos.
        </h4>
      </li>
      <li>
        <h4>
          Quien logre quitar todos los pares con la menor cantidad de movimientos y en el menor tiempo posible ganará.
        </h4>
      </li>
    </ul>
    <h4 class="mt-4 text-center">¿¡Estás list@!?</h4>
    <button class="btn btn-lg btn-success m-3" routerLink="comienzo">COMENZAR</button>
    <button class="btn btn-lg btn-success m-3" routerLink="resultados">RESULTADOS</button>
  </div>
</div>