<div class="container text-center">
  <div class="my-4">
    <h4 class="my-4">Se presentan 24 cartas, con 12 objetos duplicados, boca abajo sobre el tablero y comienza a pasar el tiempo</h4>
    <h4 class="my-4">El juego consiste en dar vuelta un par de cartas a la vez. Si estas coinciden se las quita del tablero.</h4>
    <h4 class="my-4">De no coincidir, se vuelven a dar vuelta en el mismo lugar y se intenta un nuevo movimiento hasta quitar todas las fichas del tablero.</h4>
    <h4 class="my-4">Quien logre quitar todos los pares en el menor tiempo posible y con la menor cantidad de movimientos ganará</h4>
  </div>
  <br>
  <div class="my-4">
    <h4 class="my-4">¿¡Estás listo!?</h4>
    <button class="btn btn-lg btn-success me-3" routerLink="comienzo">COMENZAR</button>
    <button class="btn btn-lg btn-success" routerLink="comienzo">RESULTADOS</button>
  </div>
</div>